.hoverButton {
    -fx-background-color: transparent;
    -fx-text-fill: #41198d;
    -fx-font-size: 18px;

    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.hoverButton:hover {
    -fx-background-color: white;
    -fx-text-fill: white;
}
.hoverButton2 {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;

    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.hoverButton2:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: #00ffc4;
}
.hoverButton23 {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;

    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.hoverButton23:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: red;
}

.hoverButton3 {
    -fx-cursor: hand;
}

.hoverButton3:hover {
    -fx-background-color: transparent;
    -fx-underline: true;
}

.hoverButton4 {
    -fx-cursor: hand;
}

.hoverButton4:hover {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}